@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
:root {
  --primary: #ffffff;
  --secondary: #0088ff;
  --text: #44546f;
  --url: #0047ff;
}
.header {
  background-color: var(--primary);
}

button {
  background-color: var(--secondary);
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  color: var(--primary);
  font-weight: bold;
}
button:hover {
  background-color: var(--url);
}
